<head>
    <title>Rating Reminder</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <!-- <style media="screen and (max-width: 680px)">
      @media screen and (max-width: 680px) {
        .page-center {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
  
        .footer-center {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    </style> -->
  </head>
  <body style="background-color: #f4f4f5">
    <table
      cellpadding="0"
      cellspacing="0"
      style="
        width: 100%;
        height: 100%;
        background-color: #f4f4f5;
        text-align: center;
      "
    >
      <tbody>
        <tr>
          <td style="text-align: center">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              id="body"
              style="
                background-color: #fff;
                /* width: 100%;
                max-width: 680px;
                height: 100%; */
              "
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align="center"
                      cellpadding="0"
                      cellspacing="0"
                      class="page-center"
                      style="
                        text-align: left;
                        padding-bottom: 60px;
                        width: 100%;
                        padding-left: 120px;
                        padding-right: 120px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td style="padding-top: 24px">
                            <img
                              src="https://rvwala.com/wp-content/uploads/2022/06/cropped-Untitled-design-3.png"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td
                            colspan="2"
                            style="
                              padding-top: 35px;
                              -ms-text-size-adjust: 100%;
                              -webkit-font-smoothing: antialiased;
                              -webkit-text-size-adjust: 100%;
                              color: #000000;
                              font-family: 'Postmates Std', 'Helvetica',
                                -apple-system, BlinkMacSystemFont, 'Segoe UI',
                                'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                                'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                sans-serif;
                              font-size: 35px;
                              font-style: normal;
                              font-weight: 600;
                              letter-spacing: -2.6px;
                              line-height: 52px;
                              mso-line-height-rule: exactly;
                              text-decoration: none;
                            "
                          >
                            Reset your password
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 48px; padding-bottom: 48px">
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              style="width: 100%"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      width: 100%;
                                      height: 1px;
                                      max-height: 1px;
                                      background-color: #d9dbe0;
                                      opacity: 0.81;
                                    "
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              -ms-text-size-adjust: 100%;
                              -ms-text-size-adjust: 100%;
                              -webkit-font-smoothing: antialiased;
                              -webkit-text-size-adjust: 100%;
                              color: #9095a2;
                              font-family: 'Postmates Std', 'Helvetica',
                                -apple-system, BlinkMacSystemFont, 'Segoe UI',
                                'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                                'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                sans-serif;
                              font-size: 16px;
                              font-smoothing: always;
                              font-style: normal;
                              font-weight: 400;
                              letter-spacing: -0.18px;
                              line-height: 24px;
                              mso-line-height-rule: exactly;
                              text-decoration: none;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            Use the following OTP to password reset for your
                            RVwala account.
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h2
                              style="
                                background: #f89938 !important;
                                margin: 0 auto;
                                margin-top: 20px;
                                width: max-content;
                                padding: 0 10px;
                                color: #fff;
                                border-radius: 4px;
                              "
                            >
                            <%= code %>
                            </h2>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              id="footer"
              style="
                background-color: #cb5644 !important;
                /* width: 100%; */
                max-width: 700px;
                /* height: 100%; */
              "
            >
              <tbody>
                <tr>
                  <td>
                    <table
                      align="center"
                      cellpadding="0"
                      cellspacing="0"
                      class="footer-center"
                      style="
                        text-align: left;
                        width: 100%;
                        padding-left: 120px;
                        padding-right: 120px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td colspan="2" style="padding-top: 45px; width: 100%">
                            <!-- <img
                            src="https://rvwala.com/wp-content/uploads/2022/06/cropped-Untitled-design-3.png"
                            /> -->
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              -ms-text-size-adjust: 100%;
                              -ms-text-size-adjust: 100%;
                              -webkit-font-smoothing: antialiased;
                              -webkit-text-size-adjust: 100%;
                              color: #fff;
                              font-family: 'Postmates Std', 'Helvetica',
                                -apple-system, BlinkMacSystemFont, 'Segoe UI',
                                'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                                'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                                sans-serif;
                              font-size: 15px;
                              font-smoothing: always;
                              font-style: normal;
                              font-weight: 400;
                              letter-spacing: 0;
                              line-height: 24px;
                              mso-line-height-rule: exactly;
                              text-decoration: none;
                              vertical-align: top;
                              width: 100%;
                            "
                          >
                            If you have any questions or concerns, we're here to
                            help. Contact us via our
                            <a
                              data-click-track-id="1053"
                              style="font-weight: 500; color: #000000"
                              target="_blank"
                              >Help Center</a
                            >.
                          </td>
                        </tr>
                        <tr>
                          <td style="height: 45px"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  