<style type="text/css">
    .header {
        background: #8a8a8a;
    }

    .header .columns {
        padding-bottom: 0;
    }

    .header p {
        color: #fff;
        padding-top: 15px;
    }

    .header .wrapper-inner {
        padding: 20px;
    }

    .header .container {
        background: transparent;
    }

    table.button.facebook table td {
        background: #3B5998 !important;
        border-color: #3B5998;
    }

    table.button.twitter table td {
        background: #1daced !important;
        border-color: #1daced;
    }

    table.button.google table td {
        background: #DB4A39 !important;
        border-color: #DB4A39;
    }

    .wrapper.secondary {
        background: #f3f3f3;
    }

    .two-column {
        text-align: center;
        font-size: 0;
    }

    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }

    .contents {
        width: 100%;
    }

    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }

    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .two-column .text {
        padding-top: 10px;
    }

    .inner {
        padding: 10px;
    }

    table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
    }
</style>

<wrapper class="header">
    <container>
        <row class="collapse">
            <columns small="6">
                <img src="https://res.cloudinary.com/dz8zgvu8s/image/upload/v1605342984/DSC00947-e1585329247654.jpg" height="30%" width="80%" style="display:block;padding-left: 10%; padding-right: 10%;">
            </columns>
        </row>
    </container>
</wrapper>

<container>

    <row>
        <columns small="12">

            <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%"
                style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px"
                bg="#FFFFFF">
                <tr>
                    <td align="center" style="padding:0px 40px 40px 40px">
                        <p
                            style="color:#262626; font-size:1.5rem; text-align:center; font-family: Verdana, Geneva, sans-serif">
                            Hello<%= name %>!</p>
                        </br>
                        <br>
                        Your four digit verfication is here.Use it to reset your password<br />
                        </br>
                        <p>Code : <b><%= code %></b></p>
                        </p>
                        <br />
                        </p>
                    </td>
                </tr>

                <tr style="margin-bottom: 20px">
                    <td align="center">
                        <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                            <tr>
                                <td width="250" height="60" align="center" bgcolor="#2f9780"
                                    style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                                    <a href="https://athens-297121.uc.r.appspot.com/"
                                        style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff"
                                        class="button_link">Proceed to Site
                                        <img src="https://res.cloudinary.com/dz8zgvu8s/image/upload/v1609762757/73ac4376-78ab-4d32-a0b5-b8195202e51f.jpg"
                                            width="32" height="17" style="padding-top:5px" alt="" border="0" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </columns>
    </row>

</container>